
   
     .gameContainer {

        background-image: url("../resources/BREAKERS-SNOOKER.jpg");
    }

    .row {
        margin-left: 30px;
        background-color: transparent;
        
    }

    .column {
        float: left;
        width: 20%;
        padding: 10px;
        margin-left: 30px;
        height: 250px;
        background-color: white;
        opacity: 0.8;
        filter: alpha(opacity=80);
     
        
    }

    .tableTitle h1 {
        margin-top: 25%;
        color: #000;
        text-align: center;
    }

    .tableTitle h2 {
        color: red;
        font-size: 18px;
        font-style:bold;
        text-align: center;
    }

    .tableTitle {
        justify-content: center;
        display: block;
        color: #fff;
        height: 250px;
        text-align: center;
        background: transparent;
    }

    .hoverBody {
        display: none;

    }

    .btnStartGame {
        width: 100%;
        
    }

    .column:hover .tableTitle {
        display: none;
    }

    .column:hover .hoverBody {
        display: block;
        box-sizing: border-box;
        border-style: double;
        background-image: url("../resources/snooker.jpeg");
        justify-content: center;
        width: 18.5%;
        height: 250px;
        position: absolute;

    }

    .btnTable1 {

        background-color: #ddd;
        border: #000;
        margin: auto;
        width: 180px;
        color: black;
        font-size: 20px;
        text-decoration: none;
        display: block;
        margin: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
    }

    .btnTable1:hover {
        background-color: #38a13c;
        color: white;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
