body {
    /* background-color: #5066af; */
    background-image: url("../resources/BREAKERS-SNOOKER.jpg");
    float: center;
  }

  .gameContainer {
    background-color: transparent;
    float: center;
    height: 100%;
  }

  .singleGame,
  .doubleGame,
  .centuryGame {
    widows: 70%;
    padding-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(255, 254, 254);
    height: 100%;
  }

  .selectBoxContainer {
    border: 1px rgb(0, 0, 0) solid;
    background-color: transparent;
    text-align: center;
    padding: 30px;
  }

  select {
    width: 100%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: inline-block;
    text-align: center;
    text-align-last: center;
    font-size: 18px;
    font-style: bold;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  input {
    width: 40%;
    margin-left: 28%;
    padding: 12px 20px;
    margin-bottom: 10px;
    text-align: center;

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-left: 38%;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #a0aaa1;


  }


  .label {
    margin-left: 40%;
    margin-bottom: 3px;
  }

  div {
    border-radius: 5px;

    justify-content: center;

  }


  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic
  }

  .removeField {
    width: 15px;
    height: 30px;
    margin-left: 45%;
    padding: 2px;
    background-color: red;
  }

  .centuryPlayers {
    margin-left: 40%;

  }

  .suggestion {
    color: black;
    font-weight: 400;
    /* color: #fff; */
    background: #ffffff;
    width: 190px;
    margin-left: 30%;
    justify-content: center;

    float: center;
    /* padding: 1rem; */
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  ul {
    position: absolute;
    display: block;
    /* border: 1px rgb(0, 0, 0) solid; */
    /* border-right: 2px; */
    width: 400px;
    margin-top: -10px;
    text-align: center;
    margin-left: 5px;
  }

  ul li {
    padding: 5px;
    list-style-type: none;
  }

  ul li:hover {


    background: #4CAF50;


  }

  /*the container must be positioned relative:*/
  .autocomplete {
    /* position: relative;
  display: inline-block; */
    float: center;
    /* display: block; */
    /* border: 1px rgb(0, 0, 0) solid; */
    /* border-right: 2px; */
    text-align: center;
    /* margin-left: 5px; */
  }


  .autocomplete-items {
    position: absolute;
    /* border: 1px solid #d4d4d4; */
    /* border-bottom: none;
  border-top: none; */
    /* z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
    /* top: 100%;
  left: 0;
  right: 0;  */
  }

  .autocomplete-items div {
    margin-left: 76%;
    margin-top: -10px;
    width: 190px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    /* border-bottom: 1px solid #d4d4d4;  */
  }

  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #4CAF50;
  }

  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: #4CAF50 !important;
    color: black;
  }