<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../CSS/AccountsManagement.css">
    <link rel="stylesheet" href="../node_modules/datatables.net-dt/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/tabsStyleSheet.css">
</head>

<body>
    <div class="w3-sidebar w3-bar-block w3-black w3-card" style="width:15%">
        <h5 class="w3-bar-item" width=20%>Accounts Menu</h5>        
        <button class="w3-bar-item w3-button tablink w3-white" onclick="openLink(event, 'Fade')">Expense Summary</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Zoom')">Add Expense</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Left')">Revenue</button>
    </div>

    <div style="margin-left:15%">

        <div 
          id="Fade" 
          class="w3-container city w3-animate-zoom" 
          style="
            background-color: white;
            opacity: 0.8;">

            <h1 style="
            width: 100%;
            text-align: center;">Expense Details</h1>
            <!-- BELOW IS THE DATA TABLE FOR EXPENSE DETAILS -->
            <table id="Expense" class="display" style="width:100%;  overflow: auto;">
              <thead>
                <tr>
                  <th >Name</th>
                  <th >Catergory</th>
                  <th >Description</th>
                  <th >Amount</th>
                  <th >Date</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Catergory</th>
                  <th>Description</th>
                  <th>Amount</th>
                  <th>Date</th>
                </tr>
              </tfoot>
            </table>
        
            </div>
        

        <div 
          id="Left" 
          class="w3-container city w3-animate-zoom" 
          style="
            display:none; 
            background-color: white;
            opacity: 0.8;">
            <h1 style="
            width: 100%;
            text-align: center; ">Revenue Details</h1>
            <!--  BELOW IS THE DATA TABLE FOR REVENUE DETAILS -->
            <table id="Revenue" class="display" style="width:100%; overflow: auto;">
                <thead>
                  <tr>
                    <th >Name</th>
                    <th>Catergory</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Catergory</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date</th>
                  </tr>
                </tfoot>
              </table>
          
            </div>
        </div>
  <!-- CREATING ADD EXPENSE -->

  <div id="Zoom" class="w3-container city w3-animate-zoom"
        style="display: none; background-color:white; opacity:0.8; margin-left:15%;">

        <div class="w3-container category">
            <h1
                style="
                    width: 100%;
                    text-align: center;">Add Expense</h1
                >
                <div class="dataform">
                    <input class="input" id="expenseName"  type="text" name="name" placeholder="Expense Name" required>
                    <br />
                    <br />
                    <select class="select" id="expenseCategory">
                      <option value="text" disabled selected>Select Expense Catergory</option>
                    </select>
                    <br />
                    <br />
                    <input class="input" id="expenseDescription"  type="text" name="name" placeholder="Expense Description" required>
                    <br />
                    <br />
                    <input class="input" id="expenseAmount"  type="text" name="name" placeholder="Amount"
                        required>
                    
                    <br />
                    <br />
                
                <button type="button" class="btn" onclick="addExpense()">Add Expense</button>
            </div>
             
        </div>

    </div>
  
      

       
    <script src="../js/AccountsManagement.js"></script>
    <!-- <script src="../js/Customer.js"></script> -->

</body>

</html>