<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Add Extras</title>
  <meta  name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="breakers.css">
</head>

<body class="htmlNoPages">
  <label id="playerName" >Player Name:</label><hr/>
  <button id="kitchenOrder" data-gwd-name="Kitchen Order">Kitchen Order</button><hr/>
  <button id="drinkOrder" data-gwd-name="drinkOrder">Drink Order</button><hr/>
  <button id="cigarette" data-gwd-name="cigarette">Cigarette Order</button><hr/>
  <button id="misc" data-gwd-name="misc">Miscalleneous</button><hr/>
  <button id="save" data-gwd-name="save">Save</button>
</body>

</html>