<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Add Expense</title>
  <meta  name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../CSS/breakers.css">
  </head>

<body class="htmlNoPages">
  <label id="expenseTypeLabel">Expense Type:</label>
  <input type="text" id="expenseType" data-gwd-name="expenseType" placeholder="Enter Expense Type"/><br/>
  <label id="amountLabel" data-gwd-name="amountLabel">Amount</label>
  <input type="number" id="amount" data-gwd-name="amount"/><br/>
  <button id="addExpense" data-gwd-name="addExpense">Add Expense</button>
</body>

</html>