<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../CSS/placeOrder.css">
    <!-- <link rel="stylesheet" href="../CSS/breakers.css"> -->
    <link rel="stylesheet" href="../CSS/tableEnd.css">
    <link rel="stylesheet" href="../CSS/BillGenerator.css">
    <!-- <link rel="stylesheet" href="../CSS/mainMenu.css"> -->
    <link rel="stylesheet" href="../CSS/tabsStyleSheet.css">
    <link rel="stylesheet" href="../node_modules/datatables.net-dt/css/jquery.dataTables.min.css">
</head>

<body>



    <div>

        <div id="Fade" class="w3-container city" style="margin-right: 5%;
                        margin-left: 5%; margin-top: 2%; margin-bottom: 2%; background: #ffff; opacity:0.8;">
            <h1 style="width:100%; 
            text-align: center;
            margin-top: 10px;">Generate Invoice</h1>
            <div class="w3-bar">
                <input id="PlayerName" class="w3-bar-item" type="text" name="name" placeholder="Player Name" style="margin-left: 30%;
                           height: 40px;
                           width: 20%;
                           padding: 10px;
                           border: 2px solid black;
                           border-radius: 10px;
                           background: white;  ">

                <button id="btnGenerateBill" class="w3-button" onclick="" style="margin-left: 2%;
                        height: 40px;
                        width: 20%;
                        margin-right: 20%;
                        font-size: 14px;
                        font-weight: 600;
                        color: white;
                        border-radius: 10px;
                        border: 2px solid black;
                        background: green;
                         ">Generate Invoice</button>
            </div>

            <div id="Order" class="w3-container category">
                           
                           <h1 style="width:100%; 
                           text-align: center;
                           margin-top: 10px;">Bill Details</h1>

            </div>


            <!-- <table class="fixed_header">
                <thead style="width: 750px;">
                    <tr>
                        <th style="width: 250px;">Item Name</th>
                        <th style="width: 250px;">Time || Quantity</th>
                        <th style="width: 250px;">Price</th>
                    </tr>
                </thead>
                <tbody style="width: 750px;">
                    <tr>
                        <td id="billTableCell-1">Cell 1</td>
                        <td id="billTableCell-2">Cell 2</td>
                        <td id="billTableCell-3">Cell 3</td>
                    </tr>
                    <tr>
                        <td id="billTableCell-1">Cell 1</td>
                        <td id="billTableCell-2">Cell 2</td>
                        <td id="billTableCell-3">Cell 3</td>
                    </tr>
                    <tr>
                        <td id="billTableCell-1">Cell 1</td>
                        <td id="billTableCell-2">Cell 2</td>
                        <td id="billTableCell-3">Cell 3</td>
                    </tr>
                    <tr>
                        <td id="billTableCell-1">Cell 1</td>
                        <td id="billTableCell-2">Cell 2</td>
                        <td id="billTableCell-3">Cell 3</td>
                    </tr>
                    <tr>
                        <td id="billTableCell-1">Cell 1</td>
                        <td id="billTableCell-2">Cell 2</td>
                        <td id="billTableCell-3">Cell 3</td>
                    </tr>
                    <tr>
                        <td id="billTableCell-1">Cell 1</td>
                        <td id="billTableCell-2">Cell 2</td>
                        <td id="billTableCell-3">Cell 3</td>
                    </tr>
                    <tr>
                        <td id="billTableCell-1">Cell 1</td>
                        <td id="billTableCell-2">Cell 2</td>
                        <td id="billTableCell-3">Cell 3</td>
                    </tr>
                </tbody>
            </table> -->

            <table id="example" class="display" style="width:100%;  overflow: auto;">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Time || Quantity</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Item Name</th>
                    <th>Time || Quantity</th>
                    <th>Price</th>
                  </tr>
                </tfoot>
              </table>

            <div class="main-block">
                <label for="" style="
                           margin-left: 33%;
                           height: 40px;
                           width: 20%;
                           padding: 10px;
                           font-size: 25px;
                           font-style: oblique;
                           color: black;
                            ">Bill: </label>
                <label for="" style="
                          margin-left: 2%;
                          height: 40px;
                          width: 20%;
                          padding: 10px;
                          font-size: 25px;
                          font-style: oblique;
                          color: black;
                           ">0.0$ </label>
                <br />
                <label for="" style="
                           margin-left: 33%;
                           height: 40px;
                           width: 20%;
                           padding: 10px;
                           font-size: 25px;
                           font-style: oblique;
                           color: black;
                            ">Paid: </label>


                <input type="text" style="
                          margin-left: 2%;
                          height: 30px;
                          width: 100px;
                          padding: 10px;
                          font-size: 25px;
                          font-style: oblique;
                          color: black;" name="lname" placeholder="0.0$"><br>
                <br />
                <br />
                <div style="margin-bottom: 5%;">

                        <button 
                            id="btnAmountReceived" 
                            class="w3-button" 
                            onclick="" 
                            style="margin-left: 2%;
                                height: 40px;
                                width: 20%;
                                margin-left: 30%;
                                font-size: 14px;
                                font-weight: 600;
                                color: white;
                                border-radius: 10px;
                                border: 2px solid black;
                                background: green;
                         ">Amount Received</button>

                        <button id="btnCancel" class="w3-button" onclick="" style="margin-left: 2%;
                        height: 40px;
                        width: 20%;
                        margin-right: 20%;
                        font-size: 14px;
                        font-weight: 600;
                        color: white;
                        border-radius: 10px;
                        border: 2px solid black;
                        background: green;
                         ">Cancel</button>

                </div>
            </div>
        </div>
    </div>
    <script>
    </script>

</body>
<script src="../js/BillGenerator.js"></script>

</html>