<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Credit Clear</title>
  <meta  name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="breakers.css">
</head>

<body class="htmlNoPages">
  <select id="select_1" class="gwd-select-79sm"></select>
  <label id="selectName" class="gwd-label-18kw">Select Name:</label>
  <label id="totalCredit" class="gwd-label-kw1o">Total Credit:</label>
  <input type="number" id="clearAmount" min="0" max="10" step="1" class="gwd-input-z3ob">
  <label id="clearAmountLabel" class="gwd-label-js0y">Clear Amount:</label>
  <button id="clear" class="gwd-button-ljhl" data-gwd-name="clear">Save</button>
</body>

</html>