<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="../CSS/placeOrder.css"> -->
    <!-- <link rel="stylesheet" href="../CSS/breakers.css"> -->
    <!-- <link rel="stylesheet" href="../CSS/tableEnd.css"> -->
    <link rel="stylesheet" href="../CSS/modal.css">
    <link rel="stylesheet" href="../node_modules/datatables.net-dt/css/jquery.dataTables.min.css">
    <!-- <link rel="stylesheet" href="../CSS/mainMenu.css"> -->
    <link rel="stylesheet" href="../CSS/tabsStyleSheet.css">
</head>

<body>

    <div class="w3-sidebar w3-bar-block w3-black w3-card" style="width:15%">
        <h5 class="w3-bar-item" width=20%>Customer Management</h5>
        <button class="w3-bar-item w3-button tablink w3-white" onclick="openLink(event, 'Fade')">All Customers</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Left')">Add Customer</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Top')">Creditors List</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Right')">Credit Clear</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Zoom')">Credit Clear History</button>
    </div>

    <div style="margin-left:15%">

        <div id="Fade" class="w3-container city" style="background-color:white; opacity:0.7;">
            <h1>All Customers</h1>

            <div id="kitchenOrder" class="w3-container category">
            </div>
            <table id="customersTable" class="display" style="width:100%;  overflow: auto;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Customer Name</th>
                        <th>Customer Address</th>
                        <th>Customer Phone Number</th>
                        <th>Registration Date</th>
                        <th>Edit / Delete</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Customer Name</th>
                        <th>Customer Address</th>
                        <th>Customer Phone Number</th>
                        <th>Cutomer Registration Date</th>
                        <th>Edit / Delete</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div id="Left" class="w3-container city"
        style="display: none; background-color:white; opacity:0.7; margin-left:15%">

        <div class="w3-container category">
        </div>
        <h1>Add Customer</h1>
        <form style="
                margin-left: 10%; ">
            <div>
                <input id="uname" type="text" name="name" placeholder="Customer Name" required>
                <br />
                <input id="address" type="text" name="name" placeholder="Address" required>
                <br />
                <input type="text" placeholder="+92-xxx-xxx-xxxx" id="phone" required>

            </div>
            <button type="button" class="btnModal" onclick="addCustomer()">Register</button>
        </form>
    </div>

    <div id="Top" class="w3-container city"
        style="display: none; background-color:white; opacity:0.7;  margin-left:15%">

        <div id="cigaretteSummary" class="w3-container category">
            <h1>Creditors List</h1>
            <div class="main-block">
                <table id="creditorsTable" class="display" style="width:100%;  overflow: auto;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Customer Name</th>
                            <th>Credit Amount</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Customer Name</th>
                            <th>Credit Amount</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>

    <div id="Right" class="w3-container city"
        style="display: none; background-color:white; opacity:0.7; margin-left:15%">

        <div class="w3-container category">
            <h1>Credit Clear</h1>
            <div class="main-block">
                <form style="
                margin-left: 10%; ">
                    <input id="clearCustomer" type="text" placeholder="Enter Customer Name" /><br/>
                    <input type="clearAmount" placeholder="Enter Cleared Amount" />
                    <button class="btnModal" type="button">Clear Amount</button>
                </form>
            </div>
        </div>

    </div>

    <div id="Zoom" class="w3-container city w3-animate-zoom"
        style="display: none; background-color:white; opacity:0.7; margin-left:15%;">

        <div class="w3-container category">
            <h1>Credit History</h1>
            <div class="main-block" >
                <table id="customersTable" class="display" style="width:100%;  overflow: auto;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Customer Name</th>
                            <th>Credit Amount</th>
                            <th>Clear Amount</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Customer Name</th>
                            <th>Credit Amount</th>
                            <th>Clear Amount</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>

    <script src="../js/Customer.js"></script>

</body>

</html>