<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="breakers.css">
</head>
<body>

<div class="topnav">
  <a href="tables.html">Tables</a>
  <a href="kitchen.html">Kitchen</a>
  <a class="active" href="DirnksTab.html">Drinks</a>
  <a >Cigarettes</a>
  
  <a >Expense</a>
  <a >Summary</a>
</div>
<div class="topnav central">
  <a class="active" href="DirnksTab.html">Place Order</a>
  <a href="AddStockTabDinks.html">Add Stock</a>
  <a href="DrinksSummey.html">Summary</a>
</div>

<div id="form">
    <form action="" method="post" name="registration" class="register">
        <fieldset>
            <div class="form-group">
                <label for="Name">Name:</label>
                <input Name="name" id="Student" />
            </div>
            <div class="form-group">
                <label for="Order Item">Order Item</label>
                <input Name="orderItem" id="orderItem" />
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input name="price" id="price" />
            </div>
            
            <input name="btnAddBill" type="button" class="button" value="Add Bill" />
        </fieldset>
    </form>
</div>

</body>
</html>