<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="breakers.css">
</head>
<body>

<div class="topnav">
  <a href="tables.html">Tables</a>
  <a href="kitchen.html">Kitchen</a>
  <a class="active" href="DirnksTab.html">Drinks</a>
  <a href="CigeratteTab.html" >Cigarettes</a>
  
  <a >Expense</a>
  <a href="SummeryTab.html">Summary</a>
</div>
<div class="topnav central">
  <a  href="DirnksTab.html">Place Order</a>
  <a  href="AddStockTabDinks.html">Add Stock</a>
  <a class="active" href="DrinksStockItem.html">New Drink Stock Item</a>
  <a href="DrinksSummey.html">Summary</a>
</div>

<div id="form">
    <form action="" method="post" name="registration" class="register">
        <fieldset>
            <div class="form-group">
                <label for="name">Item Name: </label>
                <input Name="itemName" id="itemName" />
            </div>
            <div class="form-group">
                <label for="Quantity">Quantity</label>
                <input Name="Qunatity" id="orderItem" />
            </div>
            <div class="form-group">
                <label for="salePrice">Price per piece</label>
                <input Name="salePrice" id="salePrice" />
            </div>
            <div class="form-group">
                <label for="bill">Purcahsing Bill Amount</label>
                <input name="bill" id="bill" />
            </div>
            
            <input name="btnAddItem" type="button" class="button" value="Add Item" />
        </fieldset>
    </form>
</div>

</body>
</html>