<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="breakers.css">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
        <div class="topnav">
          <a href="tables.html">Tables</a>
          <a href="kitchen.html">Kitchen</a>
          <a class="active" href="DrinksTab.html">Drinks</a>
          <a href="CigeratteTab.html">Cigarettes</a>
          <a >Expense</a>
          <a href="SummeryTab.html">Summary</a>
              </div>
              <div class="topnav central">
                <a href="DirnksTab.html">Place Order</a>
                <a href="AddStockTabDinks.html">Add Stock</a>
                <a href="DrinksStockItem.html">New Drink Stock Item</a>
                <a class="active" href="DrinksSummey.html">Summary</a>>
              </div>
<h2> Drinks Summary Table</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Ordered Item</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>French Fries</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Centro </td>
    <td>samosy</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Chae 5</td>
    <td>120</td>
  </tr>
  <tr>
    <td>Rustam</td>
    <td>Pepsi tin</td>
    <td>40</td>
  </tr>
  <tr>
    <td>Rana Najam</td>
    <td>Sara Cafe</td>
    <td>Free</td>
  </tr>
  <tr>
    <td>Moazzam Sheikh</td>
    <td>Menu card</td>
    <td>-10</td>
  </tr>
</table>

</body>
</html>
