<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../CSS/HRManagement.css">
    <link rel="stylesheet" href="../node_modules/datatables.net-dt/css/jquery.dataTables.min.css">
    <!-- <link rel="stylesheet" href="../CSS/modal.css"> -->
    <link rel="stylesheet" href="../CSS/tabsStyleSheet.css">
</head>

<body>
    <div class="w3-sidebar w3-bar-block w3-black w3-card" style="width:15%">
        <h5 class="w3-bar-item" width=20%>HR Management</h5>
        <button class="w3-bar-item w3-button tablink w3-white" onclick="openLink(event, 'Fade')">All Employees</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Zoom')">Add Employee</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Zoom1')">Pay Salary</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Zoom2')">Add Advance</button>
    </div>

    <div style="margin-left:15%">

        <div id="Fade" class="w3-container city w3-animate-zoom" style="background-color: white;opacity: 0.8;">

            <h1 style="
            width: 100%;
            text-align: center;">All Employees</h1>
            <!-- BELOW IS THE DATA TABLE FOR EXPENSE DETAILS -->
            <table id="example" class="display" style="width:100%;  overflow: auto;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Post</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>CNIC</th>
                        <th>Basic Pay</th>
                        <th>Advance</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Post</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>CNIC</th>
                        <th>Basic Pay</th>
                        <th>Advance</th>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>

    <!-- ADD EMPLOYEE SECTION -->
    <div id="Zoom" class="w3-container city w3-animate-zoom"
        style="display: none; background-color:white; opacity:0.8; margin-left:15%;">

        <div class="w3-container category">
            <h1
                style="
                    width: 100%;
                    text-align: center;">Add Employee</h1
                >
                <div class="dataform">
                    <input class="input" id="employeeName"  type="text" name="name" placeholder="Full Name" required>
                    <br />
                    <br />
                    <input class="input" id="employeeDesignation"  type="text" name="name" placeholder="Employee Designation"
                        required>
                    <br />
                    <br />
                    <input class="input" id="employeeCNIC"  type="text" name="name" placeholder="CNIC Number (Without '-')"
                        required >
                    <br />
                    <br />
                    
                    <input class="input" id="employeeAddress"  type="text" name="name" placeholder="Address" required >
                    <br />
                    <br />
                    <input class="input" id="employeePhone" type="tel" name="name" placeholder="Phone Number" required >
                    <br />
                    <br />
                    <input class="input" id="employeeBasicPay"  type="number" name="name" placeholder="Basic Pay" required
                        >
                    <br />
                    <br />
                
                <button type="button" class="btn" onclick="addEmployee()">Register New Employee</button>
            </div>
             
        </div>

    </div>
    <!-- ADD SALARY SECTION -->
    <div id="Zoom1" class="w3-container city w3-animate-zoom"
        style="display: none; background-color:white; opacity:0.8; margin-left:15%;">

        <div class="w3-container category">
            <h1
                style="
                    width: 100%;
                    text-align: center;">Salary Payment</h1
                >
                <div class="dataform" style="
                        background: white;
                        ">
                    <select class="select" id="employeeSelect">
                        <option value="text" disabled selected>Select Employee</option>
                    </select>
                    <br />
                    <br />
                    <input class="input" id="salaryAmount" type="number" name="name" placeholder="SalaryAmount" required>
                    <br />
                    <br />
                    <input class="input" id="advanceDeductionAmount" type="number" placeholder="Advance Deduction Amount" required >
                    <br />
                    <br />
                   
                <button type="button" class="btn" onclick="addSalary()">Salary Paid</button>
            </div>
             
        </div>

    </div>
    <!-- ADD ADVANCE SECTION -->
    <div id="Zoom2" class="w3-container city w3-animate-zoom"
        style="display: none; background-color:white; opacity:0.8; margin-left:15%;">

        <div class="w3-container category">
            <h1
                style="
                    width: 100%;
                    text-align: center;">Salary Advance</h1
                >
                <div class="dataform" style="
                        background: white;
                        ">
                    <select class="select" id="employeeSelectAdvance">
                        <option value="text" disabled selected>Select Employee</option>
                    </select>
                    <br />
                    <br />
                    <input class="input" id="advanceAmount" type="number" name="name" placeholder="Advance Amount" required>
                    <br />
                    <br />
                    
                   
                <button type="button" class="btn" onclick="addAdvance()">Advance Paid</button>
            </div>
             
        </div>

    </div>
    <!-- <script src="../js/Customer.js"></script> -->

</body>
<script src="../js/HRManagement.js"></script>

</html>