<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../CSS/breakers.css">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
  <div class="topnav">
    <a href="mainMenu.html">Tables</a>
    <a class="active" href="kitchen.html">Kitchen</a>
    <a href="DrinksTab.html">Drinks</a>
    <a href="CigeratteTab.html">Cigarettes</a>
    <a href="Expense.html">Expense</a>
    <a href="SummeryTab.html">Summary</a>
  </div>
  <div class="topnav central">
    <a  href="AddBill-kitchen.html">Add Bill</a>
    <a class="active" >Kitchen Summary</a>
  </div>
<h2>Kitchen Summary Table</h2>

<table>
  <tr>
    <th>Cutomer Name</th>
    <th>Table Number</th>
    <th>Ordered Item</th>
    <th>Price</th>
  </tr>
</table>
<hr/>
<br/>
<br/>
<label>Total Sale:</label>
</body>
</html>
