<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../CSS/breakers.css">
    <link rel="stylesheet" href="../CSS/mainMenu.css">
</head>


<body>

    <div class="gameContainer">
        <!-- MAKING A DIV FOR ROW WHICH WILL HAVE 4 COLUMNS -->
        <div class="row rowbox">
            <div class="column divbox" style="background-color:#aaa;">
                <div class="tableTitle">
                    <h1>Table 1</h1>
                    <h2 id="s1" value="status1">Status: Vaccant</h2>
                    <h3 id="timer1" >0:0:0</h3>
                </div>
                <div class="hoverBody">
                    <br />
                    <br />
                    <button id="tab1" class="btnTable1" style="margin-top: -19%;">Start Game</button>
                    <button id="sum1" class="btnTable1">Summary</button>
                </div>
            </div>
            <div class="column divbox" style="background-color:#aaa;">
                <div class="tableTitle">
                    <h1>Table 2</h1>
                    <h2 id="s2" value="status2">Status: Vaccant</h2>
                    <h3 id="timer2" >0:0:0</h3>
                </div>
                <div class="hoverBody">
                    <br />
                    <br />
                    <button id="tab2" class="btnTable1" style="margin-top: -19%;">Start Game</button>
                    <button id="sum2" class="btnTable1">Summary</button>
                </div>
            </div>
            <div class="column divbox" style="background-color:#aaa;">
                <div class="tableTitle">
                    <h1>Table 3</h1>
                    <h2 id="s3" value="status3">Status: Vaccant</h2>
                    <h3 id="timer3" >0:0:0</h3>
                </div>
                <div class="hoverBody">
                    <br />
                    <br />
                    <button id="tab3" class="btnTable1" style="margin-top: -19%;">Start Game</button>
                    <button id="sum3" class="btnTable1">Summary</button>
                </div>
            </div>
            <div class="column divbox" style="background-color:#aaa;">
                <div class="tableTitle">
                    <h1>Table 4</h1>
                    <h2 id="s4" value="status4">Status: Vaccant</h2>
                    <h3 id="timer4" >0:0:0</h3>
                </div>
                <div class="hoverBody">
                    <br />
                    <br />
                    <button id="tab4" class="btnTable1" style="margin-top: -19%;">Start Game</button>
                    <button id="sum4" class="btnTable1">Summary</button>
                </div>
            </div>
        </div>

        <!-- MAKING A DIV FOR ROW WHICH WILL HAVE 4 COLUMNS -->
        <div class="row rowbox">
            <div class="column divbox" style="background-color:#aaa;">
                <div class="tableTitle">
                    <h1>Table 5</h1>
                    <h2 id="s5" value="status5">Status: Vaccant</h2>
                    <h3 id="timer5" >0:0:0</h3>
                </div>
                <div class="hoverBody">
                    <br />
                    <br />
                    <button id="tab5" class="btnTable1"style="margin-top: -19%;">Start Game</button>
                    <button id="sum5" class="btnTable1">Summary</button>
                </div>
            </div>
            <div class="column divbox" style="background-color:#aaa;">
                <div class="tableTitle">
                    <h1>Table 6</h1>
                    <h2 id="s6" value="status6">Status: Vaccant</h2>
                    <h3 id="timer6" >0:0:0</h3>
                </div>
                <div class="hoverBody">
                    <br />
                    <br />
                    <button id="tab6" class="btnTable1" style="margin-top: -19%;">Start Game</button>
                    <button id="sum6" class="btnTable1">Summary</button>
                </div>
            </div>
            <div class="column divbox" style="background-color:#aaa;">
                <div class="tableTitle">
                    <h1>Table 7</h1>
                    <h2 id="s7" value="status7">Status: Vaccant</h2>
                    <h3 id="timer7" >0:0:0</h3>
                </div>
                <div class="hoverBody">
                    <br />
                    <br />
                    <button id="tab7" class="btnTable1"style="margin-top: -19%;">Start Game</button>
                    <button id="sum7" class="btnTable1">Summary</button>
                </div>
            </div>
            <div class="column divbox" style="background-color:#aaa;">
                <div class="tableTitle">
                    <h1>Table 8</h1>
                    <h2 id="s8" value="status8">Status: Vaccant</h2>
                    <h3 id="timer8" >0:0:0</h3>
                </div>
                <div class="hoverBody">
                    <br />
                    <br />
                    <button id="tab8" class="btnTable1" style="margin-top: -19%;">Start Game</button>
                    <button id="sum8" class="btnTable1">Summary</button>
                </div>
            </div>
        </div>

                <!-- MAKING A DIV FOR ROW WHICH WILL HAVE 4 COLUMNS -->
                <div class="row rowbox" >
                    <div class="column divbox" style="background-color:#aaa;margin-left: 24.5%;">
                        <div class="tableTitle">
                            <h1>Private Room 1</h1>
                            <h2 id="s9" value="status9">Status: Vaccant</h2>
                            <h3 id="timer9" >0:0:0</h3>
                        </div>
                        <div class="hoverBody">
                            <br />
                            <br />
                            <button id="tab9" class="btnTable1" style="margin-top: -19%;">Start Game</button>
                            <button id="sum9" class="btnTable1">Summary</button>
                        </div>
                    </div>
                    <div class="column divbox" style="background-color:#aaa; ">
                        <div class="tableTitle">
                            <h1>Pool</h1>
                            <h2 id="s10" value="status10">Status: Vaccant</h2>
                            <h3 id="timer10" >0:0:0</h3>
                        </div>
                        <div class="hoverBody">
                            <br />
                            <br />
                            <button id="tab10" class="btnTable1" style="margin-top: -19%;">Start Game</button>
                            <button id="sum10" class="btnTable1">Summary</button>
                        </div>
                    </div>
                    
                </div>

    </div>

    

    <script src="../js/mainMenu.js">
    </script>

</body>

</html>