<div class="modal-content">
    <app-service-provider-edit _nghost-c9="">
        <div _ngcontent-c9="" class="modal-header">
            <h5 _ngcontent-c9="" class="modal-title" id="exampleModalLabel2">
                <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                <!--bindings={s
    "ng-reflect-ng-if": "true"
  }--><span _ngcontent-c9="" class="ng-star-inserted">Updation Diamond Club Accout</span></h5><button _ngcontent-c9=""
                class="close" type="button"><span _ngcontent-c9="" aria-hidden="true">×</span></button>
        </div>
        <form _ngcontent-c9="" novalidate="" ng-reflect-form="[object Object]" class="ng-pristine ng-valid ng-touched">
            <div _ngcontent-c9="" class="modal-body">
                <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                <!--bindings={
    "ng-reflect-ng-if": "true"
  }-->
                <div _ngcontent-c9="" class="ng-star-inserted">
                    <div _ngcontent-c9="" class="row">
                        <div _ngcontent-c9="" class="col-6">
                            <div _ngcontent-c9="" class="form-row">
                                <div _ngcontent-c9="" class="col-12 mb-3"><label _ngcontent-c9="" for="name">Full
                                        Name</label><input _ngcontent-c9="" autocomplete="new-password"
                                        class="form-control input-air-primary ng-untouched ng-pristine ng-valid"
                                        formcontrolname="name" id="name" type="text"
                                        ng-reflect-klass="form-control input-air-primary"
                                        ng-reflect-ng-class="[object Object]" ng-reflect-name="name">
                                    <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                                </div>
                            </div>
                            <div _ngcontent-c9="" class="form-row">
                                <div _ngcontent-c9="" class="col-12 mb-3"><label _ngcontent-c9="" for="contact">Contact
                                        Number</label><input _ngcontent-c9=""
                                        class="form-control input-air-primary ng-pristine ng-valid ng-touched"
                                        formcontrolname="contact" id="contact" type="text"
                                        ng-reflect-klass="form-control input-air-primary"
                                        ng-reflect-ng-class="[object Object]" ng-reflect-name="contact">
                                    <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                                </div>
                            </div>
                            <div _ngcontent-c9="" class="form-row">
                                <div _ngcontent-c9="" class="col-12 mb-3"><label _ngcontent-c9=""
                                        for="lat">Latitude</label><input _ngcontent-c9="" autocomplete="new-password"
                                        class="form-control input-air-primary ng-untouched ng-pristine ng-valid"
                                        formcontrolname="lat" id="lat" type="text"
                                        ng-reflect-klass="form-control input-air-primary"
                                        ng-reflect-ng-class="[object Object]" ng-reflect-name="lat">
                                    <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                                </div>
                            </div>
                            <div _ngcontent-c9="" class="form-row">
                                <div _ngcontent-c9="" class="col-12 mb-3"><label _ngcontent-c9=""
                                        for="state">State</label><select _ngcontent-c9=""
                                        class="form-control input-air-primary ng-untouched ng-pristine ng-valid"
                                        formcontrolname="state" id="state"
                                        ng-reflect-klass="form-control input-air-primary"
                                        ng-reflect-ng-class="[object Object]" ng-reflect-name="state">
                                        <option _ngcontent-c9="" value="" ng-reflect-value="">Select State</option>
                                        <!--bindings={
    "ng-reflect-ng-for-of": "[object Object],[object Object"
  }-->
                                        <option _ngcontent-c9="" value="pending" ng-reflect-value="pending"
                                            class="ng-star-inserted">pending </option>
                                        <option _ngcontent-c9="" value="approved" ng-reflect-value="approved"
                                            class="ng-star-inserted">approved </option>
                                        <option _ngcontent-c9="" value="blocked" ng-reflect-value="blocked"
                                            class="ng-star-inserted">blocked </option>
                                    </select>
                                    <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-c9="" class="col-6">
                            <div _ngcontent-c9="" class="form-row">
                                <div _ngcontent-c9="" class="col-12 mb-3"><label _ngcontent-c9="" for="email">Email
                                        (Login)</label><input _ngcontent-c9="" autocomplete="new-password"
                                        class="form-control input-air-primary ng-untouched ng-pristine ng-valid"
                                        disabled="true" formcontrolname="email" id="email" type="text"
                                        ng-reflect-klass="form-control input-air-primary"
                                        ng-reflect-ng-class="[object Object]" ng-reflect-name="email"
                                        ng-reflect-is-disabled="true">
                                    <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                                </div>
                            </div>
                            <div _ngcontent-c9="" class="form-row">
                                <div _ngcontent-c9="" class="col-12 mb-3"><label _ngcontent-c9=""
                                        for="category">Category</label><select _ngcontent-c9=""
                                        class="form-control input-air-primary ng-untouched ng-pristine ng-valid"
                                        formcontrolname="category" id="category"
                                        ng-reflect-klass="form-control input-air-primary"
                                        ng-reflect-ng-class="[object Object]" ng-reflect-name="category">
                                        <option _ngcontent-c9="" value="" ng-reflect-value="">Select Category</option>
                                        <!--bindings={
    "ng-reflect-ng-for-of": "[object Object],[object Object"
  }-->
                                        <option _ngcontent-c9="" value="Football" ng-reflect-value="Football"
                                            class="ng-star-inserted">Football </option>
                                        <option _ngcontent-c9="" value="Cricket" ng-reflect-value="Cricket"
                                            class="ng-star-inserted">Cricket </option>
                                        <option _ngcontent-c9="" value="Basketball" ng-reflect-value="Basketball"
                                            class="ng-star-inserted">Basketball </option>
                                        <option _ngcontent-c9="" value="Gym" ng-reflect-value="Gym"
                                            class="ng-star-inserted">Gym </option>
                                        <option _ngcontent-c9="" value="Swimming" ng-reflect-value="Swimming"
                                            class="ng-star-inserted">Swimming </option>
                                        <option _ngcontent-c9="" value="Snooker" ng-reflect-value="Snooker"
                                            class="ng-star-inserted">Snooker </option>
                                    </select>
                                    <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                                </div>
                            </div>
                            <div _ngcontent-c9="" class="form-row">
                                <div _ngcontent-c9="" class="col-12 mb-3"><label _ngcontent-c9=""
                                        for="long">Longitude</label><input _ngcontent-c9="" autocomplete="new-password"
                                        class="form-control input-air-primary ng-untouched ng-pristine ng-valid"
                                        formcontrolname="long" id="long" type="text"
                                        ng-reflect-klass="form-control input-air-primary"
                                        ng-reflect-ng-class="[object Object]" ng-reflect-name="long">
                                    <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                                </div>
                            </div>
                            <div _ngcontent-c9="" class="form-row">
                                <div _ngcontent-c9="" class="col-12 mb-3"><label _ngcontent-c9=""
                                        for="address">Address</label><textarea _ngcontent-c9=""
                                        class="md-textarea md-textarea-auto form-control ng-untouched ng-pristine ng-valid"
                                        formcontrolname="address" id="address" mdbinput="" type="text"
                                        ng-reflect-klass="md-textarea md-textarea-auto f"
                                        ng-reflect-ng-class="[object Object]" ng-reflect-name="address"></textarea>
                                    <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr _ngcontent-c9="">
                    <div _ngcontent-c9="" class="row">
                        <div _ngcontent-c9="" class="col-6">
                            <div _ngcontent-c9="" class="form-row">
                                <div _ngcontent-c9="" class="col-12 mb-3"><label _ngcontent-c9="" for="newPassword">New
                                        Password</label><input _ngcontent-c9="" autocomplete="new-password"
                                        class="form-control input-air-primary ng-untouched ng-pristine ng-valid"
                                        formcontrolname="newPassword" id="newPassword" type="password"
                                        ng-reflect-klass="form-control input-air-primary"
                                        ng-reflect-ng-class="[object Object]" ng-reflect-name="newPassword">
                                    <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-c9="" class="col-6">
                            <div _ngcontent-c9="" class="form-row">
                                <div _ngcontent-c9="" class="col-12 mb-3"><label _ngcontent-c9=""
                                        for="confirmPassword">Confirm Password</label><input _ngcontent-c9=""
                                        class="form-control input-air-primary ng-untouched ng-pristine ng-valid"
                                        formcontrolname="confirmPassword" id="confirmPassword" type="password"
                                        ng-reflect-klass="form-control input-air-primary"
                                        ng-reflect-ng-class="[object Object]" ng-reflect-name="confirmPassword">
                                    <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--bindings={
    "ng-reflect-ng-if": "true"
  }-->
            <div _ngcontent-c9="" class="modal-footer ng-star-inserted">
                <!--bindings={
    "ng-reflect-ng-if": "true"
  }-->
                <div _ngcontent-c9="" class="ng-star-inserted"><button _ngcontent-c9="" class="btn btn-primary"
                        style="background: #5e7606 !important;" type="button">View Booking History</button><button
                        _ngcontent-c9="" class="btn btn-default" type="button">Close</button><button _ngcontent-c9=""
                        class="btn btn-primary" type="submit">Submit</button></div>
                <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
            </div>
        </form>
    </app-service-provider-edit>
</div>