<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../CSS/placeOrder.css">
    <link rel="stylesheet" href="../CSS/breakers.css">
    <link rel="stylesheet" href="../CSS/tableEnd.css">
    <link rel="stylesheet" href="../CSS/modal.css">
    <!-- <link rel="stylesheet" href="../CSS/mainMenu.css"> -->
    <link rel="stylesheet" href="../CSS/tabsStyleSheet.css">
</head>

<body>

    <div class="topnav">
        <a href="mainMenu.html">Tables</a>
        <a class="active" href="orders.html">Place Order</a>
        <a>Expense</a>
        <a href="BillGenerator.html">Generte Bill</a>
        <a href="AddCustomer.html">Add Customer</a>
        <a href="SummeryTab.html">Summary</a>
    </div>

    <div class="w3-sidebar w3-bar-block w3-black w3-card" style="width:15%">
        <h5 class="w3-bar-item" width=20%>Order Type</h5>
        <button class="w3-bar-item w3-button tablink w3-green" onclick="openLink(event, 'Fade')">Kitchen</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Left')">Drinks</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Top')">Cigarettes</button>
    </div>

    <div style="margin-left:15%">

        <div id="Fade" class="w3-container city w3-animate-opacity">
            <h1>Kitchen</h1>
            <div class="w3-bar w3-black">
                <button class="w3-bar-item w3-button" onclick="tabItem('Order')">Add Kitchen Order</button>
                <button class="w3-bar-item w3-button" onclick="tabItem('Summary')">Kitchen Summary</button>
            </div>

            <div id="Order" class="w3-container category">
                <h1>Kitchen Order</h1>
                <div class="main-block">
                    <form action="/">
                        <input id="KitchenOrderItem" type="text" name="name" placeholder="Order Item" style="width:100%; margin-left:20%; margin-right:50%;">
                        <br/>
                        <input id="KitchenOrderPrice" type="text" name="name" placeholder="Price" style="width:100%; margin-left:20%; margin-right:50%;">
                        <button  id="btnModal"class="btnModal">Add to Bill</button>
                    </form>
                </div>
            </div>
            <!-- Kitchen Summary Tab -->
            <div id="Summary" class="w3-container category" style="display:none">
                <div class="main-block">
                    <h2>Kitchen Summary Table</h2>
                    <table>
                        <tr>
                            <th>Cutomer Name</th>
                            <th>Table Number</th>
                            <th>Ordered Item</th>
                            <th>Price</th>
                        </tr>
                    </table>
                    <hr />
                    <br />
                    <br />
                    <label>Total Sale:</label>
                </div>
            </div>
        </div>

        <div id="Left" class="w3-container city w3-animate-left" style="display:none">
            <h1>Drinks Order</h1>
            <div class="w3-bar w3-black">
                <button class="w3-bar-item w3-button" onclick="tabItem('drinkOrder')">Add Drinks Order</button>
                <button class="w3-bar-item w3-button" onclick="tabItem('drinkSummary')">Drinks Summary</button>
                <button class="w3-bar-item w3-button" onclick="tabItem('drinkNew')">Add New Drink</button>
                <button class="w3-bar-item w3-button" onclick="tabItem('drinkStock')">Add Stock</button>
            </div>

            <div id="drinkOrder" class="w3-container category">
                <h1>Drinks Order</h1>
                <div class="main-block">
                    <form>
                        <select id=DrinkSelect>
                            <option value="number" disabled selected>Select Drink</option>
                        </select>
                        <br />
                        <input id="DrinkPrice" type="text" name="name" placeholder="Price"><br />
                        <button href="/" class="btnModal">Add to bill</button>
                    </form>
                </div>
                <h3 id="remainingStock">In Stock:</h3>
            </div>
            <!-- Kitchen Summary Tab -->
            <div id="drinkSummary" class="w3-container category" style="display:none">
                <div class="main-block">
                    <h2>Drinks Sale Summary Table</h2>
                    <table>
                        <tr>
                            <th>Cutomer Name</th>
                            <th>Table Number</th>
                            <th>Ordered Item</th>
                            <th>Price</th>
                        </tr>
                    </table>
                    <hr />
                    <br />
                    <br />
                    <label>Total Sale:</label>
                </div>
            </div>
            <div id="drinkNew" class="w3-container category" style="display:none">
                <h1>Add New Drink To Inventory</h1>
                <div class="main-block">
                    <form>
                        <input type="text" placeholder="Enter Drink Name" /><br />
                        <input type="number" placeholder="Enter Drink Price" /><br />
                        <button class="btnModal">Add Drink to Inventory!</button>
                    </form>
                </div>
            </div>

            <div id="drinkStock" class="w3-container category" style="display:none">
                <h1>Add Stock to Inventory</h1>
                <div class="main-block">
                    <form>
                        <select id=DrinkSelect>
                            <option value="number" disabled selected>Select Drink</option>
                        </select>
                        <br />
                        <input type="number" placeholder="Quantity" />
                        <button class="btnModal">Add to Inventory</button>
                    </form>
                </div>
                <h3 id="remainingStock">In Stock:</h3>
            </div>
        </div>


        <div id="Top" class="w3-container city w3-animate-top" style="display:none">
            <h1>Cigarettes Order</h1>
            <div class="w3-bar w3-black">
                <button class="w3-bar-item w3-button" onclick="tabItem('cigOrder')">Add Cigarettes Order</button>
                <button class="w3-bar-item w3-button" onclick="tabItem('cigSummary')">Cigarettes Summary</button>
                <button class="w3-bar-item w3-button" onclick="tabItem('cigNew')">Add New Cigarette</button>
                <button class="w3-bar-item w3-button" onclick="tabItem('cigStock')">Add Stock</button>
            </div>


            <div id="cigOrder" class="w3-container category">
                <h1>Cigarette Order</h1>
                <div class="main-block">
                    <form>
                        <select id=DrinkSelect>
                            <option value="number" disabled selected>Select Cigarette</option>
                        </select>
                        <br />
                        <input id="DrinkPrice" type="text" name="name" placeholder="Price"><br />
                        <button href="/" class="btnModal">Add to bill</button>
                    </form>
                </div>
                <h3 id="remainingStock">In Stock:</h3>
            </div>

            <div id="cigSummary" class="w3-container category" style="display:none">
                <div class="main-block">
                    <h2>Cigarette Sale Summary Table</h2>
                    <table>
                        <tr>
                            <th>Cutomer Name</th>
                            <th>Table Number</th>
                            <th>Ordered Item</th>
                            <th>Price</th>
                        </tr>
                    </table>
                    <hr />
                    <br />
                    <br />
                    <label>Total Sale:</label>
                </div>
            </div>
            <div id="cigNew" class="w3-container category" style="display:none">
                <h1>Add New Cigarette To Inventory</h1>
                <div class="main-block">
                    <form>
                        <input type="text" placeholder="Enter Drink Name" /><br />
                        <input type="number" placeholder="Enter Drink Price" /><br />
                        <button class="btnModal">Add Cigarette to Inventory!</button>
                    </form>
                </div>
            </div>

            <div id="cigStock" class="w3-container category" style="display:none">
                <h1>Add Stock to Inventory</h1>
                <div class="main-block">
                    <form>
                        <select id=cigSelect>
                            <option value="number" disabled selected>Select Cigarette</option>
                        </select>
                        <br />
                        <input type="number" placeholder="Quantity" />
                        <button class="btnModal">Add to Inventory</button>
                    </form>
                </div>
                <h3 id="remainingStock">In Stock:</h3>
            </div>
        </div>
    </div>
    <script>
        function openLink(evt, animName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-green", "");
            }
            document.getElementById(animName).style.display = "block";
            evt.currentTarget.className += " w3-green";
        }

        function tabItem(category) {
            var i;
            var x = document.getElementsByClassName("category");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(category).style.display = "block";
        }

    </script>

</body>

</html>