<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../node_modules/datatables.net-dt/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="../CSS/Customer.css">
  <!-- <link rel="stylesheet" href="../CSS/modal.css"> -->
</head>

<body>

  <div id="Fade" class="w3-container city"
    style="margin-right: 5%;
  margin-left: 5%; margin-top: 2%; padding-right: 5%; padding-left: 5%; padding-bottom: 1%; margin-bottom: 2%; background: #ffff; opacity:0.8;">


    <h1 style="width:100%; 
    text-align: center;
    margin-top: 10px;">Accounts Summary</h1>

    <!-- <div class="row" style="margin-bottom: 30px; margin-top: 20px;">
      <input type="date" name="bday">
    </div> -->

    <div class="w3-bar" style="margin-top: 20px">
      <input id="selectedDate" onkeypress="renderSuggestions()" class="w3-bar-item" type="date" name="name"
        placeholder="" style="margin-left: 30%;
                 height: 40px;
                 width: 20%;
                 padding: 10px;
                 border: 2px solid black;
                 border-radius: 10px;
                 background: white; ">

      <button id="btnGenerateSummary" class="w3-button" onclick="generateSummary();" style="margin-left: 2%;
              height: 40px;
              width: 20%;
              margin-right: 20%;
              font-size: 14px;
              font-weight: 600;
              color: white;
              border-radius: 10px;
              border: 2px solid black;
              background: green;
               ">Generate Summary</button>
    </div>

    <div class="main-block" style="margin-top: 10px">
        <label style="
        margin-left: 1%;
        height: 40px;
        width: 15%;
        padding: 10px;
        font-size: 20px;
        color: black;
         ">Revenue Total: </label>
          <label id="GrandTotal" style="
       margin-left: 1%;
       height: 40px;
       width: 13%;
       padding: 10px;
       font-size: 20px;
       color: black;
        ">0 PKR </label>

        <label style="
        margin-left: 1%;
        height: 40px;
        width: 15%;
        padding: 10px;
        font-size: 20px;
        color: black;
         ">Expense Total: </label>
          <label id="ExpenseTotal" style="
       margin-left: 1%;
       height: 40px;
       width: 13%;
       padding: 10px;
       font-size: 20px;
       color: black;
        ">0 PKR </label>


        <label style="
        margin-left: 1%;
        height: 40px;
        width: 15%;
        padding: 10px;
        font-size: 20px;
        color: black;
         ">Net Profit: </label>
          <label id="NetTotal" style="
       margin-left: 1%;
       height: 40px;
       width: 13%;
       padding: 10px;
       font-size: 20px;
       color: black;
        ">0 PKR </label>

    </div>



    <h3 style="width:100%; 
  text-align: center;
  margin-top: 20px;">Revenue Summary</h3>


    <table id="revenueReport" class="display" style="width:100%;  overflow: auto;">
      <thead>
        <tr>
          <!-- <th>Date</th> -->
          <th>Kitchen</th>
          <th>Drinks</th>
          <th>Cigarette</th>
          <th>Misc</th>
          <th>Other Inventory</th>
          <th>Tables</th>
          <th>Credit Clear</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <!-- <th>Date</th> -->
          <th>Kitchen</th>
          <th>Drinks</th>
          <th>Cigarette</th>
          <th>Misc</th>
          <th>Other Inventory</th>
          <th>Tables</th>
          <th>Credit Clear</th>
        </tr>
      </tfoot>
    </table>


    <h3 style="width:100%; 
    text-align: center;
    margin-top: 10px;">Expense Summary</h3>

    <table id="expenseReport" class="display" style="width:100%;  overflow: auto;">
      <thead>
        <tr>
          <th>Kitchen</th>
          <th>Credit Amount</th>
          <th>Remaining Amount</th>
          <th>Club</th>
          <th>Out</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Kitchen</th>
          <th>Credit Amount</th>
          <th>Remaining Amount</th>
          <th>Club</th>
          <th>Out</th>
        </tr>
      </tfoot>
    </table>

  </div>
</body>
<script src="../js/Report.js"></script>


</html>
