<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../CSS/breakers.css">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
        <div class="topnav">
                <a href="mainMenu.html">Tables</a>
                <a href="orders.html">Place Order</a>
                <a >Expense</a>
                <a href="AddCustomer.html">Add Customer</a>
                <a class="active"href="SummeryTab.html">Summary</a>
              </div>
              
<h2>Games Summary</h2>
<table>
    <tr>
      <th>Name</th>
      <th>Frame</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Refreshment</th>
      <th>Game Type</th>
      <th>Price</th>
    </tr>
 
</table>

</body>
</html>
