<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="../CSS/tableEnd.css">
  </head>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body onload="hello()">

    <div id="singleEdit">
      <label id="player1Single" >Player 1:</label>
      <input type="radio" id="singlePlayer1" name="loser">
      <button id="addSinglePlayerExtras1">Add Extras</button>
      <label id="player2Single" >Player 2:</label>
      <input type="radio" id="singlePlayer2" name="loser">
      <button id="addSinglePlayerExtras2" >Add Extras</button>
      <label id="amountLabelSingle" >Amount:</label>
      <input name="amountSingle" disabled="true" type="number" id="amountSingle" min="0" step="10">
      <input type="checkbox" name="finalSingleCheckbox" id="finalSingleCheckbox">
      <label id="finalLabel">Final:</label>
      <input type="finalSingle" id="finalSingle" value='0' step="2" disabled="true">
      <button id="nextGameSingle">Next Game</button>
      <button id="endGameSingle">End Game</button>
    </div>
 
    <div id="doubleEdit">
      <hr/>
      <h3>Team 1</h3>
      <input type="radio" id="doubleTeam1" name="loser">
      <label id="player1Double">Player 1:</label>
      <button id="addDoublePlayerExtras1" >Add Extras</button>
      <label id="player2Double" >Player 2:</label>
      <button id="addDoublePlayerExtras2">Add Extras</button>
      <hr/>
      <h3>Team 2</h3>
      <input type="radio" id="doubleTeam2" name="loser">
      <label id="player3Double">Player 1:</label>
      <button id="addDoublePlayerExtras3">Add Extras</button>
      <label id="player4Double">Player 2:</label>
      <button id="addDoublePlayerExtras4" >Add Extras</button>
      <br/>
      <label id="finalLabelDouble">Final:</label>
      <input type="checkbox" id="finalDoubleCheckbox" name="finalDoubleCheckbox">
      <input type="number" id="finalDouble" disabled="true" value="3" min="3" max="111" step="2">
      <label id="amountLabelDouble">Amount:</label>
      <input type="number" id="amountDouble" min="0" step="10" name="amountDouble">
      <button id="nextGameDouble">Next Game</button>
      <button id="endGameDouble">End Game</button>
    </div>

    <div id="centuryEdit">
    </div>
    <script src="../tableEnd.js"></script>
</body>
</html>