<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../CSS/tableEnd.css">
</head>

<body>
    <div class="mainContainer">
        <div class="row">
            <div class="column">
                <div class="columnHeader">
                    <label id="player1">Player 1</label>
                    <button class="btnAddExtra">Add Extra</button>
                </div>
                <div class="columnBody">
                    <table style="width:80%">
                        <tr>
                            <th>Order Item</th>
                            <th>Order Type</th>
                            <th>Amount</th>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>94</td>
                        </tr>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>80</td>
                        </tr>
                    </table>
                </div>



            </div>
            <div class="column">
                <div class="columnHeader">
                    <label id="player1">Player 2</label>
                    <button class="btnAddExtra">Add Extra</button>
                </div>
                <div class="columnBody">
                    <table style="width:80%">
                        <tr>
                            <th>Order Item</th>
                            <th>Order Type</th>
                            <th>Amount</th>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>94</td>
                        </tr>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>80</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</body>

</html>