<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Generate Bill</title>
  <meta  name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../CSS/breakers.css">
  </head>

<body class="htmlNoPages">
  <select id="select_1" class="gwd-select-79sm"></select>
  <label id="selectName" class="gwd-label-18kw">Select Name:</label>
  <label id="totalBill" class="gwd-label-kw1o">Total Bill:</label>
  <label id="summary" class="gwd-label-cfyo">Summary</label>
  <gwd-iframe id="gwd-iframe_1" source="" class="gwd-iframe-jvgc"></gwd-iframe>
</body>

</html>