<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../CSS/placeOrder.css">
    <link rel="stylesheet" href="../CSS/breakers.css">
    <link rel="stylesheet" href="../CSS/tableEnd.css">
    <link rel="stylesheet" href="../CSS/modal.css">
    <!-- <link rel="stylesheet" href="../CSS/mainMenu.css"> -->
    <link rel="stylesheet" href="../CSS/tabsStyleSheet.css">
</head>

<body>

    <div class="topnav">
        <a href="mainMenu.html">Tables</a>
        <a class="active" href="orders.html">Place Order</a>
        <a>Expense</a>
        <a href="AddCustomer.html">Add Customer</a>
        <a href="SummeryTab.html">Summary</a>
    </div>

    <div class="w3-sidebar w3-bar-block w3-black w3-card" style="width:130px">
        <h5 class="w3-bar-item">Order Type</h5>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Fade')">Kitchen</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Left')">Drinks</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Top')">Cigarettes</button>
    </div>

    <div style="margin-left:130px">

        <div id="Fade" class="w3-container city w3-animate-opacity">
            <h1>Kitchen</h1>
            <div class="w3-bar w3-black">
                <button class="w3-bar-item w3-button" onclick="tabItem('Order')">Add Kitchen Order</button>
                <button class="w3-bar-item w3-button" onclick="tabItem('Summary')">Kitchen Summary</button>
            </div>

            <div id="Order" class="w3-container category">
                <h1>Kitchen Order</h1>
                <div class="main-block">
                    <form action="/">
                        <input type="text" name="name" placeholder="Order Item">
                        <input type="text" name="name" placeholder="Price">
                        <button class="btnModal">Add to Bill</button>
                    </form>
                </div>
            </div>
            <!-- Kitchen Summary Tab -->
            <div id="Summary" class="w3-container category" style="display:none">
                <div class="main-block">
                    <h2>Kitchen Summary Table</h2>
                    <table>
                        <tr>
                            <th>Cutomer Name</th>
                            <th>Table Number</th>
                            <th>Ordered Item</th>
                            <th>Price</th>
                        </tr>
                    </table>
                    <hr />
                    <br />
                    <br />
                    <label>Total Sale:</label>
                </div>
            </div>
        </div>

        <div id="Left" class="w3-container city w3-animate-left" style="display:none">
            <h1>Drinks Order</h1>
            <div class="w3-bar w3-black">
                <button class="w3-bar-item w3-button" onclick="drinksItem('Order')">Add Drinks Order</button>
                <button class="w3-bar-item w3-button" onclick="drinksItem('Summary')">Drinks Summary</button>
                <button class="w3-bar-item w3-button" onclick="drinksItem('New')">Add New Drink</button>
                <button class="w3-bar-item w3-button" onclick="drinksItem('Stock')">Add Stock</button>
            </div>
        </div>

        <div id="Top" class="w3-container city w3-animate-top" style="display:none">
            <h1>Cigarettes Order</h1>
            <div class="w3-bar w3-black">
                <button class="w3-bar-item w3-button" onclick="cigaretteItem('Order')">Add Cigarettes Order</button>
                <button class="w3-bar-item w3-button" onclick="cigaretteItem('Summary')">Cigarettes Summary</button>
                <button class="w3-bar-item w3-button" onclick="cigaretteItem('New')">Add New Cigarette</button>
                <button class="w3-bar-item w3-button" onclick="cigaretteItem('Stock')">Add Stock</button>
            </div>
        </div>
    </div>
    <script>
        function openLink(evt, animName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
            }
            document.getElementById(animName).style.display = "block";
            evt.currentTarget.className += " w3-red";
        }

        function tabItem(category) {
            var i;
            var x = document.getElementsByClassName("category");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            if (category === "Cigarettes") {
                connections.getCigarettes().then(rows => {
                    cigaretteStock = rows;
                    console.log(cigaretteStock)
                    for (let i = 0; i < cigaretteStock.length; i++) {
                        $("select#CigaretteSelect").append($("<option>")
                            .val(cigaretteStock[i].inventoryId)
                            .html(cigaretteStock[i].itemName)
                        );
                    }
                    $("select#CigaretteSelect").change(function () {
                        var selectedCigarette = $(this).children("option:selected").val();
                        const cigaretteFilter = cigaretteStock.filter((cigarette => (cigarette.inventoryId === parseInt(selectedCigarette))));
                        $("#CigarettePrice").val(cigaretteFilter[0].itemAmount)
                    });
                });
            }
            else if (category === "Drinks") {
                connections.getDrinks().then(rows => {
                    drinkStock = rows;
                    console.log(drinkStock)
                    for (let i = 0; i < drinkStock.length; i++) {
                        $("select#DrinkSelect").append($("<option>")
                            .val(drinkStock[i].inventoryId)
                            .html(drinkStock[i].itemName)
                        );
                    }
                    $("select#DrinkSelect").change(function () {
                        var selectedDrink = $(this).children("option:selected").val();
                        const drinkFilter = drinkStock.filter((drink => (drink.inventoryId === parseInt(selectedDrink))));
                        $("#DrinkPrice").val(drinkFilter[0].itemAmount)
                    });
                });
            }
            document.getElementById(category).style.display = "block";
        }

    </script>

</body>

</html>