body{
    background-image: url("../resources/BREAKERS-SNOOKER.jpg");
    background-attachment: fixed;
    height: 100vh;
    width: 100%; 
   
    overflow: initial;
  }
  .btn {
    background-color: green;
    color: white;
    width: 50%;
    align-self:center;
    margin-left: 25%;
    margin-top: 2%;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
  }

 
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: white;
    color: green;
  }
  .autocomplete-items{
    margin-left: 40%;
    text-align: center;
  }
.addCustomer {
    display: flex;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* background-color: green; */
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    }
    form {
        
    border: 5px solid white;
    
    }
    /* .row{
      background: transparent;
    } */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    .icon {
    font-size: 110px;
    display: flex;
    justify-content: center;
    color: #4286f4;
    }
    .btnAddNewCustomer {
    background-color: green;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 48%;
    }
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: auto; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      /* background-color: green; /* Fallback color */
      /* background-image: url("../resources/BREAKERS-SNOOKER.jpg"); */
      /* background-color: black; */
    }
      /* Modal Content/Box */
  .modal-content {
    background-color: white;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


    h1 {
    text-align:center;
    font-size:18;
    }
    .btnAddNewCustomer:hover {
    opacity: 0.8;
    }
    .formcontainer {
    text-align: center;
    
    margin: 24px 50px 12px;
    }
    .container {
    background-color: black;
    padding: 16px 0;
    text-align:left;
    }
    span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
    }
    /* Change styles for span on extra small screens */
    @media screen and (max-width: 300px) {
    span.psw {
    display: block;
    float: none;
    }

}