body{
    background-image: url("../resources/BREAKERS-SNOOKER.jpg");
    background-attachment: fixed;
    height: 100vh;
    width: 100%; 
   
    overflow: initial;
  }

  .autocomplete-items {
    position: absolute;
    overflow: hidden;
    /* border: 1px solid #d4d4d4; */
    /* border-bottom: none;
  border-top: none; */
    /* z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
    /* top: 100%;
  left: 0;
  right: 0;  */
  }
  .autocomplete-items div{
  
    margin-top: 1%;
   
    /* margin-left: 76%;
    margin-top: -10px; */
    width: 300px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
  }
   /*when hovering an item:*/
   .autocomplete-items div:hover {
    background-color: black;
    color: white;
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: black !important;
    color: white;
  }
  .dataform{

    margin-left: 25%;
    margin-right: 25%;
    padding: 5%;
    margin-top: 3%;
    margin-bottom: 10%;
    border: 2px solid black;
    
  }
  
  .btn{
    text-align: center;
    height: 40px;
    margin-left: 15%;
    width:70%;
    
    color: green;
    border: 2px solid green;
    border-radius: 10px;
    background-color: white; 
  }
  .btn:hover{
    color: white;
    border: 2px solid white;
    background-color: green; 
  }
  
  .input , .select{
    text-align: left;
    height: 40px;
    width:100%;
    padding: 10px;
  
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white; 
  }



