.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: green; /* Fallback color */
    /* background-image: url("../resources/BREAKERS-SNOOKER.jpg"); */
    /* background-color: black; */
  }
    /* Modal Content/Box */

.modal-addEmployee{
    background-color: white;
    opacity: 0.95;
    margin: 5% auto; /* 10% from the top and centered */
    padding: 2%;
    border: 1px solid black;
    width: 80%; /* Could be more or less, depending on screen size */
  }
.modal-addSalary{
    background-color: white;
    opacity: 0.95;
    margin: 15% auto; /* 10% from the top and centered */
    padding: 2%;
    border: 1px solid black;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .modal-addAdvance{
    background-color: white;
    opacity: 0.95;
    margin: 15% auto; /* 10% from the top and centered */
    padding: 2%;
    border: 1px solid black;
    width: 80%; /* Could be more or less, depending on screen size */
  } 
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


