

  body{
    background-image: url("../resources/BREAKERS-SNOOKER.jpg");
    height: 100%;
    width: 100%; 
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  padding: 10px;
  
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-left: 5px;
  margin-right: 5px ;
  text-align: center;
}
legend {
  margin-left: 30%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-style: bold;
  color: #000;
  color: #000;
  padding: 3px 6px;
}

.output {
  font: 1rem 'Fira Sans', sans-serif;
}
.playerTitle {
  justify-content: center;
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  background: transparent;
  margin-right: 20px;
}
.hoverBody {
  display: none;

}

  .header{
    height: 10%;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: green;
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    border: #fff;
    /* width: 100%; */
    justify-content: center;
  
  }
  .footer{
    height: 10%;
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    background-color: green;
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    border: #fff;
    /* width: 100%; */
    justify-content: center;
  
  }
  .headerItem{
    padding: 10px;
    border: 1px solid #fff;
    margin-left: 5px;
    margin-right: 5px ;
    text-align: center;
  }
  .footerItem{
    /* padding: 10px; */
    border: 1px solid #fff;
    margin-left: 2px;
    margin-right: 2px ;
   
    text-align: center;
  }.playersList{
    width: 150px;
  }
  .playersContainer{
    background-color: #ddd;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  /* Create two equal columns that floats next to each other */
  /* .column {
    float: left;
    border-left: #000;
    width: 50%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
  /* } */
  .columnHeader{
    width: 100%;
    display: inline-block;
    margin-left: 30px;
  }
  .btnAddExtra{
    margin-left: 30%;
    border-radius: 5px; 
  }
  button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 20px;
   
    cursor: pointer; /* Pointer/hand icon */
    justify-content: center;
    display: block;
  }
  table{
    margin-top: 50px;
    border: 1px solid black;
  }
   th, td {
  
    border: 1px solid black;
  }

  .tableData{
    background-color: white;
    opacity: 0.8;
    margin-left: 10%;
    margin-right: 10% ;
  }

  .player {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: bold;
    color: #000;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    /* margin-left: 10px; */
    justify-content: center;
    margin-right:15px;
  
}
  /* Clear floats after the columns */
  /* .row:after {
    height: 100%;
    content: "";
    display: table;
    clear: both;
  } */


  

/*  TABLE STYLE IN MODAL */
.columnBody{
  margin-left: 30px;
}
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    background-color: green; /* Fallback color */
    background-image: url("../resources/BREAKERS-SNOOKER.jpg");
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .grid-item:hover .playerTitle {
    justify-content: left;
}

.grid-item:hover .hoverBody {
  
    display: block;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: transparent;

}
.btnAddExtra{
  margin-left: 35%;
}


.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color:black;
  color: white;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
